In [23]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [24]:
raw_mail_data = pd.read_csv("mail_data.csv")

In [25]:
raw_mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score

In [27]:
raw_mail_data.isnull().sum()

Category    0
Message     0
dtype: int64

In [28]:
df = raw_mail_data.where((pd.notnull(raw_mail_data)), '')

In [29]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [30]:
df.shape

(5572, 2)

In [31]:
df['Category'] = df['Category'].map({'spam':0, 'ham':1})

In [32]:
df.head()

   Category                                            Message
0         1  Go until jurong point, crazy.. Available only ...
1         1                      Ok lar... Joking wif u oni...
2         0  Free entry in 2 a wkly comp to win FA Cup fina...
3         1  U dun say so early hor... U c already then say...
4         1  Nah I don't think he goes to usf, he lives aro...

In [33]:
X = df['Message']
Y = df['Category']

In [34]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will Ã¼ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [35]:
Y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: int64

In [ ]:
X_train, X_test, y_train, y_test = train_test_splite(X, Y, test_size = 0.2, random_state = 42)